/* contact-form.component.scss */
.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

/* Sección del Formulario */
.form-section {
  width: 100%;
  padding: 4rem 1rem;
  background-color: rgb(18, 35, 98);;
  
  @media (min-width: 768px) {
    width: 50%;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.form-title {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 1.5rem;
  
  input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    background: #ffffff;
    color:rgb(18, 35, 98) ;
    font-size: 1rem;
    
    &::placeholder {
      color: rgb(18, 35, 98);
    }
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
}

.form-row {
  display: flex;
  gap: 1.5rem;
  
  @media (max-width: 767px) {
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-group {
    flex: 1;
  }
}

.error-message {
  color: #140301;
  font-size: 0.85rem;
  margin-top: 0.3rem;
  font-weight: 500;
}

.submit-btn {
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  color: #333;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
  
  &:hover {
    background-color: #1a1a1a;
    color: white;
  }
  
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

/* Sección de Imagen */
.image-section {
  display: none;
  position: relative;
  
  @media (min-width: 768px) {
    display: block;
    width: 50%;
    background-image: url('./../../../assets/sbsbannerpc.png');
    background-size: cover;
    background-position: center;
  }
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}


