<form id="contacto" [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-container">
  <!-- Nombre -->
  <div class="form-group">
   
    <input type="text" id="nombre" placeholder="nombre" formControlName="nombre">
    <div *ngIf="hasError('nombre', 'required')" class="error-message">
      {{ getErrorMessage('nombre') }}
    </div>
    <div *ngIf="hasError('nombre', 'minlength')" class="error-message">
      {{ getErrorMessage('nombre') }}
    </div>
  </div>

  <!-- Email -->
  <div class="form-group">
   
    <input type="email" id="email" placeholder="Email" formControlName="email">
    <div *ngIf="hasError('email', 'required')" class="error-message">
      {{ getErrorMessage('email') }}
    </div>
    <div *ngIf="hasError('email', 'email')" class="error-message">
      {{ getErrorMessage('email') }}
    </div>
  </div>

  <!-- Celular -->
  <div class="form-group">
    <input type="tel" id="celular" placeholder="Celular" formControlName="celular">
    <div *ngIf="hasError('celular', 'required')" class="error-message">
      {{ getErrorMessage('celular') }}
    </div>
    <div *ngIf="hasError('celular', 'pattern')" class="error-message">
      {{ getErrorMessage('celular') }}
    </div>
  </div>

  <!-- Origen y Destino -->
  <div class="form-row">
    <div class="form-group">
      <input type="text" id="destino" placeholder="Destino" formControlName="destino">
      <div *ngIf="hasError('destino', 'required')" class="error-message">
        {{ getErrorMessage('destino') }}
      </div>
    </div>
  </div>


  <!-- Comentarios -->
  <div class="form-group">
    <textarea id="comentarios" placeholder="Mensaje" formControlName="comentarios" rows="3"></textarea>
  </div>

  <!-- Botón de enviar -->
  <button type="submit" class="submit-btn" [disabled]="isLoading">
    {{ isLoading ? 'ENVIANDO...' : 'ENVIAR' }}
  </button>
</form>