<!-- reasons.component.html -->
<section class="reasons-section">
    <div class="container">
      <h2 class="section-title"><span>RAZONES PARA ELEGIRNOS</span></h2>
      
      <div class="reasons-grid">
        <!-- Primera fila -->
        <div class="reason-row">
          <div class="reason-item">
            <div class="reason-image">
                <img src="./../../../assets/calidad.png" alt="CALIDAD">
            </div>
            <h3>CALIDAD</h3>
          </div>
          
          <div class="reason-item">
            <div class="reason-image">
                 <img src="./../../../assets/precio.png" alt="PRECIO">
            </div>
            <h3>PRECIO</h3>
          </div>
        </div>
        
        <!-- Segunda fila -->
        <div class="reason-row">
          <div class="reason-item">
            <div class="reason-image">
                <img src="./../../../assets/personalizacion.png" alt="personalizacion">
            </div>
            <h3>PERSONALIZACIÓN</h3>
          </div>
          
          <div class="reason-item">
            <div class="reason-image">
                <img src="./../../../assets/garantia.png" alt="garantia">
            </div>
            <h3>GARANTÍA</h3>
          </div>
        </div>
      </div>
    </div>
  </section>